



h1 {
	text-align: center;
	color: white;
	size: 40;
	margin-left: 20;
		clear: both;
}

.success {
background: white;
    border-style: solid;
    border-size: 3px;
    border-color: #107f09;
 width: 800px ;
border-radius: 2% / 10px;
display: none;
/*   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px;*/
  margin-left: auto ;
  margin-right: auto ;
}


.colour {
color: #fcd04b;
}
/*.background {

  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-image: url("/img/background-css.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: 100% auto;
    background-position: center top;
      background-size: cover;
}
*/


body {
  background-color: black;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-image: url("/img/bg2.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}


input[type="url"] {
  display: block;
  margin: 0;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  text-align: center;
}


.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #	;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: #fcd04b;
	box-shadow: 0 6px #DEAF00;
	cursor: pointer;
	padding: 18px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
}

.btn:hover {
background: #fcd357;
  box-shadow: 0 4px #DEAF00;
}


/**/


.top-bar 
{
  margin: 5px;
  background-color: #000000;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #333;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: #333;
}

table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 95%; 
float:none;
display: inline;
border-collapse: 
collapse; border-spacing: 0; 
opacity: 0.85;
background: transparent;
}

td, th { 
border: 1px solid transparent; 
height: 30px; 
}

.th2 {
background: #000000;
opacity:0.7;
color: white;
 /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

.table1 {
background: none;
width: 65%;
display: none;
}
.th1 {
background: none;
}
.circle {background: none;
  border: solid 5px #000;
padding: 40;
width:100px;
text-align: center;
display: inline;
border-radius: 30%;
margin-top: 25px;
line-height: 50px;  
}


.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
::-webkit-validation-bubble-message {
    padding: 1em;
}
input:required:invalid, input:focus:valid {
  /*-moz-box-shadow: all;*/
  /*background: #fff url(/img/warning.png) no-repeat 98% center;*/
box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input:required:valid {
  /* insert your own styles for valid form input */
  background: #fff url(https://cdn0.iconfinder.com/data/icons/fatcow/32x32/tick.png) no-repeat 98% center;
box-shadow: 0 0 5px #2eb82e;
    border-color: #29a329
}
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

  td {
    margin: 8px;
    font-size: 16px;
  }
  .selected {
    color: red;
    background: #000000;
  }
  .highlight {
    background: yellow;
  }

.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.contact_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */



body {
  font-family: Arial;
  padding: 25px;
  background-color: #f5f5f5;
  color: #808080;
    text-align: center; 
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
  position: relative;
  display:inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }


