
 
<div class="top-bar" id="top-bar">
<h1>MAGiC URL Shortener</h1>
</div>
<center>
<form action="/urls" method="post" class="style-2">
	<input class="input clearfix" type="text" name="input_long_url" placeholder="Hello World"></br>
	<input class="btn" type="submit" value="Submit">
</form>
</center>

<p>dfdfsd</p>
<!-- <form action="/delete" method="post">
	Delete URL:
	<input type="number" name="write_id">
	<input type="submit" value="Submit">
</form> -->



