
  <head>
    <title>MAGiC URL Shortener</title>

  
    <link rel="stylesheet" type="text/css" href="css/application.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>